body::before {
  content: " ";
  height: 40px;
}

.his{
  justify-content: space-between;
}

.hmmm{
  margin-right: 10px;
}

/* .fmm{
  color: #fff;
  background-color: #140f0f;
} */

.fmm h3, p {
  color: #fff;
} 

.clearfix p{
  color: #000;
}

body {
    background: #fff;
    color: #27272b;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #140f0f;
  }
  
  .bg-steel {
    background-color: #000000;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #ecf5f5;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #4346c9;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #494848;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #fdf5f5;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: rgb(214, 209, 209);
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  


.date{
  color: #000;

}

.comment{
  color: #000;
}

  @media(min-width:768px) {
    /* .news{
        width:50%;
    }

    .hmmm{
        width:50%;
    }

    .sww{
        width:50%;
    } */

    .text-secondary{
      font-size: 20px;
    }

}


