{% extends "layout.html" %}
{% block content %}
<div class="clearfix">
    <img class="img-thumbnail" src="{{url_for('static', filename='me.jpeg')}}" width="600" height="240"//>
    <br>
    <br>
    <p>
        I am EZUDEKUDE IZUCHUKWU FRANCIS, I hails from Ohita in ogbaru local government area..Anambra State
    </p>

    <p>
        Am a software developer or web developer to be precise...my track is Backend software engineering,  The programing languages that i have knowledge of currenty is Html, Css, Bootstrap, python, Flask frame work and some basic knowledge of Javascript
    </p>
  
    <p>
        This website is all about sharing opinons, discussion and learning too...it's meant to help help those who seek to acquire the knowledge they don't know and learn a lot of things too....so feel free to share ur thoughts here
    </p>
  </div>
{% endblock content %}