{% extends "layout.html" %}
{% block content %}
<h1>About Us</h1><br><br>
<div class="clearfix">
    <h3>Explore and get Acknowledged...</h3>
    <br>
    <p>
        <strong>Welcome to MY TECH BLOG</strong> which is an online website that guarantee nice and useful resources for ur learning and for ur career,web belive in sharing knowledge and we are here to help you in your learning process.
    </p>

    <p>
        We are a team of young and enthusiastic people who are passionate about technology and want to share their knowledge with the world. We are here to help you in your learning process. 
    </p>
  
    <p>
        This website is all about sharing opinons, discussion and learning too...it's meant to help help those who seek to acquire the knowledge they don't know and learn a lot of things too....so feel free to share ur thoughts here
    </p>
  </div>
{% endblock content %}